/* POST */

.post {
    display: grid;
    gap: toRem(20);
    .user-item__image{
        flex: 0 0 toRem(46);
        width: toRem(46);
        height: toRem(46);
    }
    .user-item__body{
        gap: 0;
    }
    // .post__top
    &__top {
    }
    // .post__body
    &__body {
        display: grid;
        gap: toRem(20);
    }
    // .post__content
    &__content {
    }
    // .post__footer
    &__footer {
    }

    
}
.top-post {
    display: flex;
    justify-content: space-between;
    gap: toRem(20);
    // .top-post__user
    &__user {
        
    }
    // .top-post__actions
    &__actions {
    }
}



.pin{
    .pin-icon{
        display: block;
    }
}
.pin-icon{
    align-self: start;
    display: none;
        flex: 0 0 toRem(14);
        width: toRem(14);
        height: toRem(14);
        img{
            width: 100%;
            height: 100%;
        }
}

.text-post {
    // .text-post__content
    &__content {
        color: var(--grey);
        p{
            line-height: 24px;
            &:not(:last-child) {
                margin-bottom: toRem(10);
            }
        }
    }
    // .text-post__more
    &__more {
        padding-top: toRem(10);
        font-weight: 600;
        color: var(--blue);
        text-decoration-line: underline;
    }
}
.content-post {
    // .content-post__images
    &__images {
        max-height: toRem(280);
        @media (min-width:$mobileSmall){
             max-height: toRem(420); 
        }
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-column-gap: 8px;
        grid-row-gap: 8px;
    }

    .two-photo{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);

    }

    .three-photo{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        
        >:nth-child(1){
            grid-area: 1 / 1 / 3 / 2;
        }
        >:nth-child(2){
            grid-area: 1 / 2 / 2 / 3;
        }
        >:nth-child(3){
            grid-area: 2 / 2 / 3 / 3;
        }
    }
    
    // .content-post__image
    &__image {
        overflow: hidden;
        position: relative;
        border-radius: toRem(12);
        overflow: hidden;
        
    }

    &__image-unlock{

    }
}
.gallery {
    // .gallery__image
    &__image {
    }
    // .gallery__preview
    &__preview {
    }
}

.footer-post {
    &__block{
        padding: toRem(23) 0;
        @media (min-width:$mobile){
            padding: 0;
            .reactions{
                display: none;
            }
        }
    }
    // .footer-post__body
    &__body {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: toRem(20);
        padding: toRem(16) 0;
        border-top: 2px solid var(--secondary);
        border-bottom: 2px solid var(--secondary);

        @media (max-width:$mobile){
            .reactions{
                display: none;
            }
        }
        
    }
    &__content{
        display: flex;
        align-items: center;
        gap: toRem(20);
        font-weight: 600;

    }
    // .footer-post__like
    &__like {
        
    
    }
    .reactions-popup {
        position: absolute;
        width: fit-content;
        height: fit-content;
        top: 0;
        transform: translate(0,-100%);
        padding-bottom: 10px;
        padding-left: toRem(30);
        left: 0;
        transition: all .3s ease;
        opacity: 0;
        pointer-events: none;
        // .reactions-popup__body
        &__body {
            border-radius: toRem(16);
            padding: toRem(13) toRem(8);
            background-color: var(--secondary);
            display: flex;
            align-items: center;
            gap: toRem(22);
            border: 1px solid #F3F3F3
        }
        // .reactions-popup__item
        &__item {
            font-size: toRem(23);
        }
    }
    // .footer-post__comments
    &__comments {
        
    }
    // .footer-post__reactions
    &__reactions {
        
    }
    // .footer-post__share
    &__share {
        flex: 0 0 toRem(24);
        width: toRem(24);
        height: toRem(24);
        svg{
            width: 100%;
            height: 100%;
        }
    }
}

.like-footer-post{
    position: relative;
    font-weight: 600;

        @media (any-hover: hover){
            &:hover{
                .reactions-popup{
                    opacity: 1;
                    pointer-events: all;
                }
            }
        }
    &__body{
        display: flex;
        align-items: center;
        gap: toRem(8);
        color: var(--grey);
    }
    &__icon{
        flex: 0 0 toRem(24);
        width: toRem(24);
        height: toRem(24);
        svg{
            width: 100%;
            height: 100%;
        }
    }
}

.comments-footer-post{
    font-weight: 600;

    &__body{
        display: flex;
        align-items: center;
        gap: toRem(8);
        color: var(--grey);
    }
    &__icon{
        flex: 0 0 toRem(24);
        width: toRem(24);
        height: toRem(24);
        svg{
            width: 100%;
            height: 100%;
        }
    }
}

.reactions {
    display: flex;
    align-items: center;
    gap: toRem(17);
    // .reactions__item
    &__item {
        text-wrap: nowrap;
        cursor: pointer;
        font-weight: 600;
        font-size: toRem(16);
        line-height: 23px;
        span{
            color: var(--grey);
        }
    }
}


.locked{
    .content-post__image{
        pointer-events: none;
        // pointer-events: none;
        .gallery__preview{
            filter: blur(24px);
        }
        &::after{
            content:'';
            position: absolute;width: 100%;height: 100%;top: 0;left: 0;
            background-color: rgba(255, 255, 255, 0.6);
        }
    }
}

.unlock {
    position: absolute;
    width: 100%;
    padding: toRem(20);
    
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    
    &__body{
        display: grid;
        align-items: center;
        justify-content: center;
        gap: toRem(20);
        max-width: toRem(252);
        width: 100%;
        height: fit-content;


    }
    // .unlock__image
    &__image {
        margin: 0 auto;
        opacity: 0.2;
        @include adaptiveValue("width", 126, 66);
        @include adaptiveValue("height", 126, 66);
        img{
            width: 100%;
            height: 100%;
        }
    }
    &__button{
        pointer-events: all;
        text-wrap: wrap;
        @include adaptiveValue("font-size", 20, 14);
        @include adaptiveValue("padding", 18, 8);
    }

}

.share{
    position: relative;
    
}

.share-content{
    position: absolute;
    width: fit-content;
    height: fit-content;
    top: 0;
    transform: translate(0,-100%);
    padding-bottom: 10px;
    right: 0;
    transition: all .3s ease;
    opacity: 0;
    pointer-events: none;
    // .reactions-popup__body
    &__body {
        border-radius: toRem(16);
        padding: toRem(13) toRem(8);
        background-color: var(--secondary);
        display: flex;
        align-items: center;
        gap: toRem(22);
        border: 1px solid #F3F3F3
    }
    // .reactions-popup__item
    .share-item {
        @include adaptiveValue("font-size", 18, 14);
    }
}



// ==============================================


.comments-post{
    &__content{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 5px;
        padding-bottom: toRem(20);
        
        overflow-y: auto;
        max-height: 400px;
    }
    &__input-body{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        padding: 8px;
        height: 48px;
        input{
            outline: none;
            background-color: transparent;
            width: 100%;
            height: 100%;
            font-size: toRem(14);
        }

    }
    &__input-body-send{
        flex: 0 0 toRem(32);
        width: toRem(32);
        height: toRem(32);
    }
}


.item-comments-post{
    display: flex;
    flex-direction: column;
    gap: toRem(20);
    &__user{

    }

    &__body{
        display: flex;
        flex-direction: column;
        // gap: 5px;
    }
    &__content{
        line-height: 24px;
        color: var(--grey);
        *{

            word-wrap: break-word;
            overflow-wrap: break-word;
            word-break: break-all
        }
    }

    &__actions{
        display: flex;
        align-items: center;
        gap: 30px;
    }

    &__button{
        font-weight: 700;
        line-height: 24px;
        color: var(--blue);
        text-decoration: underline;
        transition: color .3s ease;
        @media (any-hover: hover){
            &:hover{

                color: #1959b9;
            }
        }
    }
}

.bottom-comments-post{
    padding-top: toRem(20);

    border-top: 1px solid #E2E2E2;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.actions-comments-post{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
    &__text{
        font-weight: 600;
        line-height: 24px;
    }
    &__items{
        display: flex;
        align-items: center;
        gap: 25px;
    }
    &__item{
        flex: 0 0 toRem(24);
        width: toRem(24);
        height: toRem(24);
        img{
            width: 100%;
            height: 100%;
        }
    }
}