//<BUTTONS (a.btn+tab)>
// Сніппет (HTML): btn

.button {
	cursor: pointer;
	display: inline-flex;
	padding: toRem(18);
	@include adaptiveValue("font-size", 20, 16);
	border: 1px solid transparent;
	gap: toRem(10);
	font-weight: 700;
	align-items: center;
	justify-content: center;
	text-align: center;
	max-width: toRem(252);
	width: 100%;
	height: 100%;
	max-height: toRem(65);
	color: #fff;
	transition: all .3s ease;
	text-wrap: nowrap;
	border-radius: toRem(10);
	background-color: var(--blue);
	position: relative;

	svg {
		flex: 0 0 toRem(20);
		width: toRem(20);
		height: toRem(20);

	}
	svg path{
		
		transition: all .3s ease;
	}
	@media (any-hover: hover) {
		&:hover {
			background-color: var(--btn-dark-blue);
			
		}
	}
	&:active{
		transition: none;
		background-color: var(--light-blue);
		color: var(--blue);
		svg path{
			stroke: var(--blue);
		}
	}


	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

	span{
		position: relative;
		z-index: 2;
		// transition: all .3s ease;
	}


	&--transparent{
		background-color: transparent;
		color: var(--blue);
		border: 1px solid var(--blue);
		@media (any-hover: hover) {
			&:hover {
				background-color: var(--blue);
				color: #fff;
				svg path{
					transition: all .3s ease;

					stroke: #fff;
					fill: #fff !important;
				}
			}
		}
		&:active{
			transition: none;
			background-color: var(--light-blue);
			color: var(--blue);
			border: 1px solid var(--light-blue);

		}
	}

	&--fw {
		max-width: none;
		width: 100%;
	}
}


